html, body, iframe {
    width: 100vw;
    height: 100vh;

    border: 0;
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}

.zig-notice {
    position: absolute;
    font-size: 0.7em;
    padding: 0.5em;
    margin: -0.25em;
    border-radius: 0.25em;
    z-index: 100;
}

.zig-notice span:not(:last-child) {
    margin-right: 0.66em;
}

.zig-splash {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    background-color: black;
    color: white;

    display: flex;

    /* center content */
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: opacity 250ms ease-in;
}

.zig-notice .gi-link {
    color: white;
    text-decoration: none;
    margin-left: 0.66em;
    font-weight: bold;

    border: 1px solid white;
    border-radius: 32px;
    padding-left: 3px;
    padding-right: 3px;
}

.zig-notice .gi-link:hover {
    color: orange;
    border-color: orange;
}

.gi-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    /* more than zig-notice */
    z-index: 101;

    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.5);

    font-family: sans-serif;
    color: white;

    overflow: auto;
}
